table {
  margin: auto;
}

table,
th,
td {
  border: 1px solid blue;
}

tr:nth-child(even) {
  background-color: lightcoral;
}

tr:nth-child(odd) {
  background-color: lightblue;
}

div {
  height: 90%;
  overflow: auto;
}

a {
  font-size: large;
  color: blue;
}
